<!-- <p>header works!</p> -->
      <!-- Navigation-->
      <nav class="navbar navbar-expand-lg navbar-light bg-light" >
        <div class="container px-4 px-lg-5" >
         <div>
              <input [(ngModel)]="searchTerm" (keyup)="search($event)" name="in" id="inp" type="text" placeholder="Search-Item">
              <button class="btn btn-outline-dark mt-auto ms-1" style="height: 35px;">search</button>
  
        </div>        
            <a class="navbar-brand" href="#!" style="font-size: 30px; color: rgba(0, 0, 0, 0.648);"><strong>Shoppy</strong></a>
            <a class="navbar-brand mt-5"  style="font-size: 15px; font-weight: 200; color: rgba(0, 0, 0, 0.648);" href="product/add"><strong>add new product</strong></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        </div>
    </nav>
    <header class=" h-50">
        <div id="carouselExampleIndicators" class="carousel slide">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="https://i.postimg.cc/C18w1Lry/men.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="https://i.postimg.cc/T18YqW5Y/women.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="https://i.postimg.cc/fL8h2tPh/kid.jpg" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </header>