


<div class="container d-flex h-100 ms-5" >
    <div (click)="categoryProduct('')" class="ms-5 mt-5" style="list-style-type: none;">All</div>
    <div (click)="categoryProduct(2)" class="ms-5 mt-5" style="list-style-type: none;">Men</div>
    <div (click)="categoryProduct(3)" class="ms-5 mt-5" style="list-style-type: none;">Women</div>
    <div (click)="categoryProduct(4)" class="ms-5 mt-5" style="list-style-type: none;">Kids</div>

</div>


 
 <!-- Section-->
 <section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

            <div *ngFor="let i of categoryArray | search:searchString:'productName' " class="col mb-5">

                <div class="card h-100" style="border-radius: 8%;">
                    <!-- Product image-->
                    <img style="height: 300px; opacity: 88%;border-radius: 8%;" class="card-img-top" src={{i.productImage}} alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{i.productName}}</h5>
                            <!-- Product price-->
                           Rs. {{i.price}}
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="product/view/{{i.id}}">View</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
